/* * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
} */

:root {
	--background: #261e3a;
	--lightcolor: #e2e2e2;
	--seconddark: black;
	--font-family: 'Quantico', sans-serif;
}

body {
	background-color: var(--background);
	font-family: var(--font-family);
}

h2 {
	color: var(--lightcolor);
	padding-left: 1rem;
	margin-bottom: 1rem;
}
h2::after {
	width: 98%;
	height: 0.1rem;
	content: '';
	background: var(--lightcolor);
	display: block;
	border-radius: 5px;
}
h3 {
	color: var(--lightcolor);
	text-align: center;
}
.par {
  color: var(--seconddark);
  /* margin-top: 9rem; */
  padding-left: 1rem;
  position: absolute;
  top: 10rem;
  font-size: 1.3rem;
  /* color: var(--lightcolor); */
  color: white;
  z-index: 1;
}
/* YES section */
header {
	width: 100%;
}
header h1 {
	margin-top: 1rem;
	padding: 0.2rem;
	font-size: 2rem;
	color: var(--lightcolor);
}
header .yes {
	display: flex;
	justify-content: center;
	align-items: center;
}
header .yes img {
	width: 35%;
	padding: 0.1rem;
	margin-top: 1rem;
}
header .yes a {
	text-decoration: none;
}
.yes_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 250px;
  position: relative;
}
.box {
  height: 200px;
  width: 300px;
  background: var(--lightcolor);
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 0 20px var(--seconddark);
  position: relative;
}
.box::after {
  position: absolute;
  display: block;
  content: '';
  background: rgba(3, 19, 16, 0.404);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.Chuck {
	display: flex;
	justify-content: center;
  align-items: center;
	height: 50vh;
}
.Chuck img {
  width: 30%;
}

#jokeText {
  /* background: white; */
  color: #e2e2e2;
	width: 600px;
	min-height: 10vh;
	padding: 1rem;
	border-radius: 10px;
  align-items: baseline;
  font-size: 1.5rem;
}
#jokeBtn {
  padding: 0.5rem;
  font-family: 'Courier New', Courier, monospace;
  background: crimson;
  box-shadow: 0 0 3px cyan;
  color: white;
  margin: 1rem;
}
.im {
  width: 100%;
  height: 100%;
}

/*  Spotify */
/* Category Popup */

.hide {
	visibility: hidden;
}

#category-popup {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 5px;
	overflow: scroll;
	padding: 5rem;
	z-index: 10;
}

.modal-footer {
	height: 50px;
	display: flex;
}

.upper-close-btn {
	color: rgb(23, 23, 23);
	margin: 0 auto;
	padding: 1rem;
	border: none;
	float: right;
}

.close-btn {
	color: rgb(23, 23, 23);
	margin: 0 auto;
	padding: 1rem;
	border: none;
}

.close-btn:hover,
.upper-close-btn:hover {
	background: rgb(34, 34, 34);
	color: white;
}

#category-list-movies {
	list-style-type: none;
}

#category-list li {
	padding: 0 1rem;
}

#category-list a {
	color: white;
	text-decoration: none;
	font-size: 1rem;
	list-style-type: none;
	display: block;
	padding-top: 1rem;
}

#category-list a:hover {
	cursor: pointer;
}

.category-list img {
	width: 100%;
	height: 400px;
	object-fit: cover;
}

.movies-content {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.movie-card {
	width: 300px;
	padding: 1rem;
}

.movie-card p {
	color: white;
	margin: 0;
}

.movie-card a {
	text-decoration: none;
	color: var(--lightcolor);
}

.movie-title {
	width: 100%;
	padding-top: 1rem;
	border-top: 1px solid rgb(84, 84, 84);
}

.movie-score {
	color: rgb(135, 135, 135);
	float: right;
}

#category-list-music {
	list-style-type: none;
}

.music-content {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.music-card {
	width: 300px;
	margin: 1rem;
}

/* News API */
.btn {
	background: coral;
	color: #fff;
	border-radius: 0.25rem;
	padding: 0.375rem 0.75rem;
	text-transform: uppercase;
	display: inline-block;
	transition: all 0.3s linear;
	border-color: transparent;
	cursor: pointer;
}

.btn:hover {
	background: rgb(214, 214, 214);
	color: rgb(214, 119, 85);
}

.modal {
	background-color: rgba(0, 0, 0, 0.85);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	display: none;
	padding: 0 20px;
	z-index: 2;
}

.modal-content {
	/* background-color: rgba(0, 0, 0, 0.8); */
	border-radius: 3px;
	width: 90vw;
	margin: 50px auto;
	/* padding: 3rem 5rem; */
	padding: 70px;
}

.modal-body {
	/* display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem; */

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
	grid-column-gap: 2rem;
	grid-row-gap: 2rem;
}

.my-modal-footer {
	text-align: center;
}

.show-modal {
	display: block;
}

/* Single news styling */
.modal-body h4 {
	max-width: 400px;
}

.title-link {
	text-decoration: none;
	color: white;
}

.title-link:hover {
	color: rgb(148, 147, 147);
}
.news-img {
	/* object-fit: cover; */
	width: 300px;
	height: 200px;
}

.news-article {
	margin-bottom: 1rem;
}

/* Single book styling */

.book-img {
	width: 320px;
	height: 450px;
}

.book-desc {
	margin-top: 0.5rem;
	padding-left: 0rem;
	color: white;
}

@media screen and (min-width: 768px) {
	.modal-content {
		padding: 3rem 5rem;
	}

	.book-img {
		width: 290px;
	}
}

/* media query for movies */
@media screen and (max-width: 749px) {
	.movie-card {
		width: 100%;
	}
	.category-list img {
		width: 100%;
	}
}
